<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Edit artifact page</title>
</head>

<body>
<p th:text="(${result} == null) ? ' Удалить комментарий? ' : ''" />
<p th:text="(${result} == -1) ? ' Ошибка БД ' : ''" />
<p>--------------------------------------------------------</p>

<table>
    <tr>
        <td>
            <form th:action="@{/delComment}">
                <input hidden="true" name="artifactId" th:value="${currArt.getId()}">
                <input hidden="true" name="commentId" th:value="${currComment.getId()}">
                <button> YES </button>
            </form>
        </td>
        <td>
            <form th:action="@{/commentPage}">
                <input hidden="true" name="artifactId" th:value="${currArt.getId()}">
                <button> NO </button>
            </form>

        </td>
    </tr>
</table>

<p>--------------------------------------------------------</p>

<p th:text="'Автор комментария: '+ ${currComment.getUserId()}"/>
<p th:text="'Комментарий: '+ ${currComment.getContent()}"/>

<p>--------------------------------------------------------</p>

<p>
<form th:action="@{/commentPage}">
    <input hidden="true" name="artifactId" th:value="${currArt.getId()}">
    <button> COMMENTS PAGE </button>
</form>
</p>

<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>

</body>
</html>