<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Start page for authenticated users</title>
</head>

<body>
<p>Welcome!</p>
<p th:inline="text">Вы авторизованы - [[${#httpServletRequest.remoteUser}]]!</p>

<!-- Блок поиска -->
<p>--------------------------------------------------------</p>
<table>
    <tr>
        <td><h3>Поиск по:</h3></td>
        <td><!-- empty --></td>
        <td>
            <form th:action="@{/showAllArtifacts}">
                <button>Все</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Категория:</td>
        <td>
            <input
                type="text"
                name="artifactCatagory"
                placeholder="Введите категорию"
                form = "filterByCategory"
            />
        </td>
        <td>
            <form id="filterByCategory" th:action="@{/showArtifactFilterByCategory}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Пользователь:</td>
        <td><!-- empty --></td>
        <td>
            <form th:action="@{/showAllArtifacts}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Описание:</td>
        <td><!-- empty --></td>
        <td>
            <form th:action="@{/showAllArtifacts}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Содержание комментариев:</td>
        <td><!-- empty --></td>
        <td>
            <form th:action="@{/showAllArtifacts}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
</table>

<!-- Блок вывода -->
<p>--------------------------------------------------------</p>
<table border="1" bordercolor="grey">
    <tr>
        <th align="center">Категория</th>
        <th align="center">Описание</th>
        <th align="center">Автор</th>
        <th align="center">Время создания</th>
        <th align="center"><!-- empty --></th>
        <th align="center"><!-- empty --></th>
        <th align="center"><!-- empty --></th>
    </tr>
    <tr th:each="iter : ${artifactList}">
        <td th:text="${iter.getCategory()}"></td>
        <td th:text="${iter.getDescription()}"></td>
        <td th:text="${iter.getUserId()}"></td>
        <td th:text="${iter.getCreated()}"></td>
        <td></td>
        <td></td>
        <td></td>

    </tr>


</table>












<!-- Блок выхода -->
<p>--------------------------------------------------------</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>

</body>
</html>
