<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Start page for authenticated users</title>
</head>

<body>
<p th:inline="text">Вы авторизованы - [[${#httpServletRequest.remoteUser}]]!</p>

<!-- Блок поиска -->
<p>--------------------------------------------------------</p>
<datalist id="artifactCategories">
    <option th:each="iter : ${categoriesList}" th:value="${iter}"/>
</datalist>

<datalist id="artifactUsers">
    <option th:each="iter : ${usersList}" th:value="${iter}"/>
</datalist>

<table>
    <tr>
        <td><h3>Поиск по:</h3></td>
        <td><!-- empty --></td>
        <td>
            <form th:action="@{/showAllArtifacts}">
                <button>Все</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Категория:</td>
        <td>
            <input
                type="text"
                name="artifactCatagory"
                list="artifactCategories"
                placeholder="Введите категорию"
                form = "filterByCategory"
            />
        </td>
        <td>
            <form id="filterByCategory" th:action="@{/showArtifactFilterByCategory}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Автор:</td>
        <td>
            <input
                type="text"
                name="artifactUser"
                list="artifactUsers"
                placeholder="Введите автора"
                form = "filterByUser"
            />
        </td>
        <td>
            <form id="filterByUser" th:action="@{/showArtifactFilterByUser}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Описание:</td>
        <td>
            <input
                    type="text"
                    name="artifactDescription"
                    placeholder="Введите часть описания"
                    form = "filterByDescription"
            />
        </td>
        <td>
            <form id="filterByDescription" th:action="@{/showArtifactFilterByDescription}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
    <tr>
        <td align="right">Содержание комментариев:</td>
        <td>
            <input
                    type="text"
                    name="artifactCommentContent"
                    placeholder="Введите часть комментария"
                    form = "filterByCommentContent"
            />
        </td>
        <td>
            <form id="filterByCommentContent" th:action="@{/showArtifactFilterByCommentContent}">
                <button>Искать</button>
            </form>
        </td>
    </tr>
</table>

<!-- Блок вывода -->
<p>--------------------------------------------------------</p>
<p>
    <a th:href="@{/createArtifactPage}">
        <button> Create Artifact </button>
    </a>
</p>

<!-- Блок вывода -->
<p>--------------------------------------------------------</p>
<table border="1" bordercolor="grey">
    <tr>
        <th>
           <table>
               <tr>
                   <td>Категория</td>
                   <td>
                       <form th:action="@{/sortArtifacts}">
                           <input hidden="true" name="searchParamCategory" th:value="${searchParamCategory}"/>
                           <input hidden="true" name="searchParamUser" th:value="${searchParamUser}"/>
                           <input hidden="true" name="searchParamDescription" th:value="${searchParamDescription}"/>
                           <input hidden="true" name="searchParamComment" th:value="${searchParamComment}"/>
                           <input hidden="true" name="sortType" th:value=1 />
                           <input hidden="true" name="sortDirection" th:value=true />
                           <button>^</button>
                       </form>
                   </td>
                   <td>
                       <form th:action="@{/sortArtifacts}">
                           <input hidden="true" name="searchParamCategory" th:value="${searchParamCategory}"/>
                           <input hidden="true" name="searchParamUser" th:value="${searchParamUser}"/>
                           <input hidden="true" name="searchParamDescription" th:value="${searchParamDescription}"/>
                           <input hidden="true" name="searchParamComment" th:value="${searchParamComment}"/>
                           <input hidden="true" name="sortType" th:value=1 />
                           <input hidden="true" name="sortDirection" th:value=false />
                           <button>v</button>
                       </form>
                   </td>
               </tr>
           </table>
        </th>
        <th>Описание</th>
        <th>
            <table>
                <tr>
                    <td>Автор</td>
                    <td>
                        <form th:action="@{/sortArtifacts}">
                            <input hidden="true" name="searchParamCategory" th:value="${searchParamCategory}"/>
                            <input hidden="true" name="searchParamUser" th:value="${searchParamUser}"/>
                            <input hidden="true" name="searchParamDescription" th:value="${searchParamDescription}"/>
                            <input hidden="true" name="searchParamComment" th:value="${searchParamComment}"/>
                            <input hidden="true" name="sortType" th:value=2 />
                            <input hidden="true" name="sortDirection" th:value=true />
                            <button>^</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/sortArtifacts}">
                            <input hidden="true" name="searchParamCategory" th:value="${searchParamCategory}"/>
                            <input hidden="true" name="searchParamUser" th:value="${searchParamUser}"/>
                            <input hidden="true" name="searchParamDescription" th:value="${searchParamDescription}"/>
                            <input hidden="true" name="searchParamComment" th:value="${searchParamComment}"/>
                            <input hidden="true" name="sortType" th:value=2 />
                            <input hidden="true" name="sortDirection" th:value=false />
                            <button>v</button>
                        </form>
                    </td>
                </tr>
            </table>
        </th>
        <th>
            <table>
                <tr>
                    <td>Время создания</td>
                    <td>
                        <form th:action="@{/sortArtifacts}">
                            <input hidden="true" name="searchParamCategory" th:value="${searchParamCategory}"/>
                            <input hidden="true" name="searchParamUser" th:value="${searchParamUser}"/>
                            <input hidden="true" name="searchParamDescription" th:value="${searchParamDescription}"/>
                            <input hidden="true" name="searchParamComment" th:value="${searchParamComment}"/>
                            <input hidden="true" name="sortType" th:value=3 />
                            <input hidden="true" name="sortDirection" th:value=true />
                            <button>^</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="@{/sortArtifacts}">
                            <input hidden="true" name="searchParamCategory" th:value="${searchParamCategory}"/>
                            <input hidden="true" name="searchParamUser" th:value="${searchParamUser}"/>
                            <input hidden="true" name="searchParamDescription" th:value="${searchParamDescription}"/>
                            <input hidden="true" name="searchParamComment" th:value="${searchParamComment}"/>
                            <input hidden="true" name="sortType" th:value=3 />
                            <input hidden="true" name="sortDirection" th:value=false />
                            <button>v</button>
                        </form>
                    </td>
                </tr>
            </table>
        </th>
        <th><!-- empty --></th>
        <th><!-- empty --></th>
        <th><!-- empty --></th>
    </tr>
    <tr th:each="iter : ${artifactList}">
        <td th:text="${iter.getCategory()}"></td>
        <td th:text="${iter.getDescription()}"></td>
        <td th:text="${iter.getUserId()}"></td>
        <td th:text="${iter.getCreated()}"></td>
        <td></td>
        <td></td>
        <td>
            <form th:action="@{/editArtifactPage}">
                <input hidden="true" name="artifactId" th:value="${iter.getId()}"/>
                <button>EDIT</button>
            </form>
        </td>

    </tr>


</table>












<!-- Блок выхода -->
<p>--------------------------------------------------------</p>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти из системы"/>
</form>

</body>
</html>
